.nav {
  position: relative;
  width: 100%;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.nav-links {
  position: relative;
  left: 0px;
  top: 0px;
  height: 75px;
  margin-top: 0px;
  float: none;
  -webkit-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
  line-height: 38px;
}

.nav-links:hover {
  height: 75px;
  margin-top: 0px;
  background-color: #7000ff;
  color: #fff;
}

.logo {
  width: 137px;
  margin-top: 16px;
  margin-left: 5%;
  clear: left;
}

.nav-container {
  width: 360px;
  margin-right: 150px;
  margin-left: 150px;
  float: left;
}

.profile-block {
  position: static;
  width: 100%;
  background-color: #fff;
}

.purple-slice {
  width: 57%;
  height: 231px;
  margin-left: -121px;
  background-color: #7c1cff;
  -webkit-transform: skew(-46deg, 0deg);
  -ms-transform: skew(-46deg, 0deg);
  transform: skew(-46deg, 0deg);
}

.profile-pic {
  margin-top: 34px;
  margin-left: 30%;
  padding-right: 0px;
  border-radius: 133px;
  -webkit-transform: skew(46deg, 0deg);
  -ms-transform: skew(46deg, 0deg);
  transform: skew(46deg, 0deg);
}

.current-message {
  width: 100%;
  height: 45px;
  background-color: #e7e7e7;
  line-height: 42px;
  text-align: center;
}

.text-links {
  color: #8207f5;
  font-weight: 700;
}

.message-star {
  width: 32px;
  margin-top: 0px;
  margin-left: 0px;
  float: none;
  text-align: left;
}

.brand {
  width: 141px;
}

.username {
  height: 42px;
  margin-top: -94px;
  margin-left: 42%;
  -webkit-transform: skew(46deg, 0deg);
  -ms-transform: skew(46deg, 0deg);
  transform: skew(46deg, 0deg);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 19px;
}

.user-description {
  width: 433px;
  height: 86px;
  margin-top: -6px;
  margin-left: 49%;
  -webkit-transform: skew(46deg, 0deg);
  -ms-transform: skew(46deg, 0deg);
  transform: skew(46deg, 0deg);
  font-family: Roboto, sans-serif;
  color: #fff;
  font-weight: 100;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 -1px 3px 0 #000;
}

.hero-section {
  position: static;
  width: auto;
  margin-top: -73px;
  background-image: url('../images/hero-image-v2.jpg');
  background-position: 67% 260%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-text {
  position: static;
  display: block;
  width: 50%;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  text-align: center;
}

.hero-text-container {
  position: absolute;
  display: block;
  margin-top: 129px;
  margin-right: auto;
  margin-left: auto;
}

.hero-container {
  position: relative;
  top: 127px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.sign-up-form {
  position: relative;
  z-index: 100;
  display: block;
  width: 600px;
  margin: -84px auto 138px;
  padding-bottom: 5%;
}

.submit-button {
  display: block;
  width: auto;
  margin-top: -48px;
  margin-right: -14px;
  margin-left: auto;
  padding-top: 11px;
  border-radius: 6px;
  background-color: transparent;
  background-image: -webkit-linear-gradient(0deg, #eedc08, #ff8500);
  background-image: linear-gradient(90deg, #eedc08, #ff8500);
  -webkit-transition: background-color 350ms ease, all 350ms ease;
  transition: background-color 350ms ease, all 350ms ease;
}

.submit-button:hover {
  background-image: -webkit-linear-gradient(0deg, #ffeb00, #f90);
  background-image: linear-gradient(90deg, #ffeb00, #f90);
}

.name-field {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
}

.email-field {
  border-radius: 4px;
}

.mission-statement {
  position: static;
  margin-top: 52px;
  margin-bottom: 37px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.our-vision-section {
  position: static;
  top: -139px;
  height: 850px;
  background-image: -webkit-linear-gradient(180deg, #c350ff, #693aff);
  background-image: linear-gradient(270deg, #c350ff, #693aff);
}

.our-values-heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.values-slider {
  height: 535px;
  margin-top: 6px;
  background-color: hsla(0, 0%, 87%, 0);
}

.matching-icon {
  display: block;
  margin: 36px auto;
}

.matching-heading {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.value-slide-paragraph {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.heading {
  margin-top: 52px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.heading.our-values {
  color: #fff;
}

.our-values-section {
  height: 600px;
  background-color: #e6e6e6;
}

.tagline-section {
  height: 100px;
  background-color: #8917f3;
}

.tagline {
  padding-top: 40px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #fff;
  font-size: 49px;
  font-style: italic;
  text-align: center;
}

.footer {
  background-color: #1a1a1a;
}

.footer-container {
  padding-top: 49px;
  padding-bottom: 49px;
}

.footer-text {
  padding-top: 11px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.footer-logo {
  margin-right: 40%;
  margin-left: 40%;
}

.keyword-slider {
  z-index: 99;
  height: 250px;
  background-color: hsla(0, 0%, 100%, 0);
}

.keyword-1 {
  height: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #8917f3;
}

.keywords {
  font-family: Montserrat, sans-serif;
  font-size: 70px;
  text-align: center;
}

.hero-slider {
  height: 650px;
}

.slide-2 {
  background-image: url('../images/slide2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-1 {
  background-image: url('../images/hero-image-v2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.our-vision-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5%;
}

@media (max-width: 991px) {
  .logo {
    margin-left: 11px;
  }
  .purple-slice {
    width: 74%;
    margin-left: -121px;
  }
  .profile-pic {
    margin-left: 21%;
  }
  .username {
    margin-left: 39%;
  }
  .user-description {
    width: 300px;
  }
  .menu-button {
    margin-right: -69%;
  }
  .hero-section {
    height: 750px;
    background-size: cover;
  }
  .sign-up-form {
    display: block;
    width: 389px;
    margin: -31px auto;
  }
  .mission-statement {
    display: block;
    width: 94%;
    margin-top: -124px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 105px;
  }
  .our-vision-section {
    position: static;
    display: block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .matching-icon {
    margin-right: 38%;
    margin-left: 38%;
  }
  .value-slide-paragraph {
    margin-right: 30%;
    margin-left: 30%;
  }
  .footer-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .hero-slider {
    height: 710px;
  }
  .slide-1 {
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  .logo {
    margin-left: 20px;
  }
  .hero-section {
    background-position: 100% 0px;
    background-size: cover;
  }
  .sign-up-form {
    display: block;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1px;
  }
  .submit-button {
    display: block;
    width: auto;
    height: 38px;
    margin-right: auto;
    margin-left: auto;
    float: right;
  }
  .name-field {
    display: block;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    float: left;
  }
  .mission-statement {
    width: 87%;
    margin-top: -151px;
    margin-right: 7%;
    margin-left: 7%;
  }
  .matching-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .value-slide-paragraph {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .heading.our-values {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .bullet-navigation {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .purple-slice {
    width: 168%;
    margin-left: -125px;
  }
  .menu-button {
    margin-top: -50px;
    margin-right: 56%;
  }
  .hero-section {
    display: block;
    width: 100%;
    height: 494px;
    background-image: none;
  }
  .sign-up-form {
    display: block;
    width: 95%;
    margin-top: -74px;
    margin-right: auto;
    margin-left: auto;
  }
  .submit-button {
    display: block;
    width: auto;
    margin-top: 21px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    float: none;
  }
  .name-field {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .mission-statement {
    display: block;
    margin-top: -107px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    font-size: 19px;
  }
  .our-vision-section {
    display: block;
  }
  .matching-icon {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .value-slide-paragraph {
    display: block;
    width: 209px;
    margin-right: auto;
    margin-left: auto;
  }
  .tagline {
    font-size: 30px;
  }
  .footer-text {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
  .footer-logo {
    margin-right: 31%;
    margin-left: 31%;
  }
  .keyword-slider {
    display: block;
    height: 217px;
    margin-top: -43px;
    margin-right: auto;
    margin-left: auto;
  }
  .keyword-1 {
    margin-top: -25px;
  }
  .keywords {
    display: block;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    font-size: 31px;
  }
  .keyword-mask {
    height: 100px;
  }
  .bullet-navigation {
    padding-top: 45px;
  }
  .hero-slider {
    height: 100%;
    clear: both;
  }
  .slide-1 {
    display: inline-block;
    background-image: url('../images/hero-image-v2.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

