
{% extends "_layout" %}
{% set title = "Forgot your Partneur Password?" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">               
            <div class="panel panel-primary">
            <div class="panel-heading text-center">Reset Your Password</div>
            <div class="panel-body">
                <form method="post" accept-charset="UTF-8">
                    {{ getCsrfInput() }}
                    <input type="hidden" name="action" value="users/forgotPassword">
                    <input type="hidden" name="redirect" value="">

                    <div class="form-group">
                        <label for="loginName">Username or email</label>
                        <input id="loginName" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}" class="form-control">
                    </div>
                    {% if errorMessage is defined %}
                        <p class="text-danger text-center">{{ errorMessage }}</p>
                    {% endif %}

                    <input type="submit" value="Submit" class="p-submit">
                </form>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}

